<div class="container">
  <div class="row">
    <dev class="col-8 offset-4 mt-3">
      <h1>About</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-4 mt-3">
      <h4>
        ながのCAKEは全国配送可能なケーキ屋さんです。<br>
        お子様からお年寄の方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </h3>
    </div>
  </div>
</div>