<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- ここにジャンルの部分テンプレート -->
      <%#= render 'public/products/genre' %>
    </div>

    <div class="col-md-9">
      <div class="main-visual">
        <%= image_tag "top_image.jpg", size: '600x300' %>

        <p class="main-text">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>

      <h2><strong>新着商品</strong></h2>

      <div class="new-products">
        <% @products.each do |product| %>
        <div>
          <%= image_tag product.image, size:"200x100" %>
          <%= product.name %>
          <%#= product.price.with_tax_price.to_s(:delimited) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

