<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- ここにジャンルの部分テンプレート -->
      <%#= render 'public/products/genre' %>
    </div>

    <div class="col-md-9">
      <div>
      <%= image_tag "top_image.jpg", size: '600x300' %>
      
      </div>




    <h2>新着商品</h2>


    </div>
  </div>
</div>
