<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- ここにジャンルの部分テンプレート -->
      <%#= render 'public/products/genre' %>
    </div>

    <div class="col-md-9">
      <div class="main-visual">
        <%= image_tag "top_image.jpg", size: '600x300' %>

        <!--<div class="main-visual-content">-->
          <p class="main-text">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>




    <h2>新着商品</h2>


    </div>
  </div>
</div>
